/html, body {
  font-family: "roboto";
}




*{
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'roboto';

}



a {
  color: black;
  letter-spacing: 1px;
  font-family: 'roboto';
}




.navbar {
  width: 80%;
  height: 60px;
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  position: fixed;
}




header {
  background: linear-gradient(180deg, #4a99d3 -50%, rgba(74, 153, 211, 0) 75%);
  height: 768px;
  box-shadow: 2px 2px 10px 4px rgba(100, 100, 100, 0.1);
}






ul.nav_menu>li {
  display: inline-block;
}



  ul.nav_menu>li:hover {
  filter: drop-shadow(2px 2px 2px #000);
   -webkit-filter: drop-shadow(2px 2px 2px #000);

}





ul.nav_menu {
  margin-left: auto;
  align-self: center;

}





.logo {
  align-self: center;
  font-size: 40px;
  font-family: 'roboto';
  color: blue;
  font-weight: 700;
}






.menu {
  margin-right: 40px;
}





.i_menu {
  margin-right: 40px;
}





.title_bottom {
  position: absolute;
  width: 600px;
  height: 384px;
  margin-left: 130px;
  margin-top: 170px;


}





.img_mobile {
  position: relative;
  width: 500px;
  height: 60vh;
  left: 750px;
  top: 70px;


}





div.logo > a {
  color: #4a99d3;

}





h1 {
  font-size: 50px;
  margin-bottom: 30px;
  line-height: 70px;
}
p {
  font-size: 20px;
  line-height: 40px;
  font-weight: normal;
}
li {
  font-weight: 100;
  font-size: 16px
}
.mobile_1 {
  position: absolute;
  margin-right: 60px;
  margin-top: 75px;
}
.mobile_2 {
  margin-left: 180px;

}
img.img_button {
  position: absolute;
  top: 22%;
  left: 12%;
}
a:first-of-type {
  margin-right: 20px;
}
.button {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background-color: #4a99d3;
  border-radius: 5px;
  display: inline-block;
  position: relative;
  margin-top: 50px;
}
.button:hover {
  box-shadow: 3px 3px 10px 2px rgba(100, 100, 100, 0.5);
  transition: 0.8s;
}

a.button:hover>img {
  transition: all 0.8s ease;
transform: rotateY(360deg);
filter: drop-shadow(2px 2px 2px #000);
 -webkit-filter: drop-shadow(2px 2px 2px #000);
}
.About {
  margin-top: 550px;
  margin-left: 130px;
  line-height: 40px;
  font-weight: 500;
  font-size: 35px;
  display: flex;
}
.Group_1 {
  position: absolute;
width: 380px;
height: 537px;
left: 680px;
top: 908px;
}
.Group_1_3 {
  align-self: center;
}
@media screen and (max-width 425px) {
.logo {
  font-size: 50px;
}
a {
  font-size: 30px;
}

}
